$primary_color: #F4E041;
$accent_color:  #38f5ff;
$background_color: #ffffff;
$accent_background_color: #000000;

//text
$primary_text_color: #000000;
$secondary_text_color: #ffffff;
$accent_text_color:  #38f5ff;

//button colors
$btn_normal_color: $primary_color;
$btn_normal_hover: #FFE302;
$btn_normal_disabled: #B4B4B4;
$btn_primary_text_color: rgba(0, 0, 0, 0.87);
$btn_secondary_text_color: rgba(255, 255, 255, 0.87);


//input colors
$input_background_color: #f8f8f8;
$input_border_color:  #D0CFCF;



$primary_link_color: #595959;
